<div class="hero">
  <div class="show-on-mobile hero__mobile-heading mobile-heading__container">
    <h1 class="font-greatHeading mobile-heading__content">
      <span>Mykyta</span>
      <span class="mobile-heading__stray-item">Isikov</span>
    </h1>
  </div>
  <div class="hero__portrait">
    <app-hero-portrait></app-hero-portrait>
  </div>
  <div class="hero__info">
    <div>
      <h1 class="font-greatHeading hide-on-mobile" style="white-space: nowrap">Mykyta Isikov</h1>
      <h2 class="font-heading">Web developer</h2>
      <p>Passionate programmer,<br>CS graduate.</p>
      <p class="svg-with-text-container">
        <svg-icon
          src="assets/icons/pin.svg">
        </svg-icon>
        <span>Frankfurt am Main, Germany</span>
      </p>
      <app-button
        btnText="Find out more"
        btnType="gradient"
        btnSvgName="arrow"
        (btnClick)="navigateToBio()"
      ></app-button>
    </div>
  </div>
</div>
