<div class="grid-row vh-90">
  <div class="grid-col-4 grid-offset-1 content-center">
    <app-hero-portrait></app-hero-portrait>
  </div>
  <div class="grid-col-4 grid-offset-2 content-center">
    <div class="w-100">
      <h1 class="font-greatHeading" style="white-space: nowrap">Mykyta Isikov</h1>
      <h2 class="font-heading">Web developer</h2>
      <p>Passionate programmer,<br>CS graduate.</p>
      <p class="svg-with-text-container content-center-y">
        <svg-icon src="assets/icons/pin.svg"></svg-icon>
        <span>Frankfurt am Main, Germany</span>
      </p>
      <app-button btnText="Find out more" btnType="gradient" btnSvgName="arrow"></app-button>
    </div>
  </div>
</div>
