@include importOnce('project-globals') {

  /* _____ GLOBAL DEFAULTS _____ */
  :root {
    color-scheme: light dark;
    font-family: 'montserrat', sans-serif;
  }

  *,
  :before,
  :after {
    box-sizing: border-box;
  }

}
