@include importOnce('project-globals') {

  /* _____ GLOBAL DEFAULTS _____ */
  :root {
    color-scheme: light dark;
  }

  *,
  :before,
  :after {
    box-sizing: border-box;
  }

  html {
    font-family: 'montserrat', sans-serif;
    scroll-behavior: smooth;

    @include theme('background-color', 'background');
    @include theme('color', 'text');
  }

}
