/* _____ VARIABLES _____ */

// Generic
// ==========================================================================


/* Bootstrap */
$prefix: bs- !default;
$grid-gutter-width: 1.5rem !default;
$container-padding-x: $grid-gutter-width;
$grid-columns: 12 !default;

/* Width breakpoints */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$containerWidth: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

/* Misc */
$default-borderRadius: 5;
$default-svg-text-gap: 0.5rem;

// Colors
// ==========================================================================

$light-theme: 'light';
$dark-theme: 'dark';
$themes: (
  light: (
    text: #001a0d,
    background: #f7fdfa,
    primary: #39d06e,
    secondary: #8ba6e4,
    accent: #7b6adc,
  ),
  dark: (
    text: #e5fff2,
    background: #020805,
    primary: #2fc664,
    secondary: #1b3674,
    accent: #342395,
  ),
);
