<div>
  <div class="hero">hero</div>
  <div class="bio">
    bio
    <div class="social">
      <div class="social-item">Social media</div>
      <div class="social-item">Social media</div>
      <div class="social-item">Social media</div>
    </div>
    <div class="about-me">
      about me
    </div>
    <div class="skills">
      skills
    </div>
    <div class="blog-abstract">
      <div class="feat-blog-post">Blog post</div>
      <div class="feat-blog-post">Blog post</div>
      <div class="feat-blog-post">Blog post</div>
    </div>
    <div class="journey">
      career journey
      <div class="journey-item">Story item</div>
      <div class="journey-item">Story item</div>
      <div class="journey-item">Story item</div>
    </div>
  </div>
</div>
