<div class="grid-row vh-60">
  <div class="grid-col-6">
    <h3 class="font-heading">About me</h3>
    <p>
      I’m a passionate and open-minded Front End Engineer who wants to contribute to creative and innovative projects and broaden my professional skills. I’m always eager to discover new ways of software development and to learn about and implement modern technologies for my projects.
    </p>
  </div>
  <div class="grid-col-6 content-center">
    <app-language-card></app-language-card>
  </div>
</div>
