<div class="bio__wrapper">
  <div class="bio">
    <div class="bio__heading">
      <h3 class="font-heading">About me</h3>
    </div>
    <div class="bio__about-me">
      <div>
        <p>
          I’m a passionate and open-minded Frontend Engineer who wants to drive impactful projects forward and grow my professional skills. Proficient in Frontend development technologies such as Angular, RxJS, SASS, etc. With hands-on experience in building dynamic and responsive web applications.
        </p>
        <p>
          I like to discover new ways of software development and implement modern technologies in my work. With a strong work ethic and a dedication to delivering excellence, I am excited to take on new challenges and contribute to the success of innovative projects.
        </p>
      </div>
    </div>
    <div class="bio__language-card">
      <app-language-card></app-language-card>
    </div>
  </div>
</div>
